/* ✅ #root가 부모 크기를 상속받도록 수정 */
#root {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* ✅ 특정 컨텐츠를 잘리지 않게 설정 */
.container {
  flex-grow: 1;
  min-height: 100vh;
}

html {
  -ms-overflow-style: none; /* ✅ IE, Edge */
  scrollbar-width: thin; /* ✅ Firefox에서 최소한의 크기로 설정 */
}